$color--black: #000;
$color--white: #fff;

body {
  background-color: $color--black;
  h1 {
    color: $color--white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Korean Font Family
//font-family: 'Nanum Gothic', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap%22");

  // English Font Family
//font-family: "Montserrat", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff%22") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2%22") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff%22") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff%22") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff%22") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin center() {
  display:flex;justify-content:center;align-items:center;
}

@mixin center-se() {
  display:flex;justify-content:space-around;align-items:center;
}

@mixin center-sb() {
  display:flex;justify-content:space-between;align-items:center;
}

@mixin c-center{
  display:flex;justify-content: center;align-items:center;flex-direction: column;
}
@mixin c-center-se{
  display:flex;justify-content: space-evenly;align-items:center;flex-direction: column;
}
@mixin c-center-sb{
  display:flex;justify-content: space-between;align-items:center;flex-direction: column;
}